/* 清除默认样式*/
body {margin:0;-webkit-text-size-adjust:none;}
/* 禁止用户选择文本*/
* {user-select:none;box-sizing:border-box;}
/* 加载动画*/
.loading-animations {background:#666;position:fixed;left:0;right:0;top:0;bottom:0;transition:2s;opacity:1;display: flex;justify-content:center;align-items: center;width:100%;height:100%;z-index: 9999;opacity: 1; transition: opacity 1.5s ease;}
.loading-animations-out {opacity:0;}
.loading-logo {width:80px;height:auto;}
@keyframes pulse { 0% { transform: scale(1); } 50% { transform: scale(1.1); } 100% { transform: scale(1); } }
/* 整个页面的容器*/
.Ayou_page {display:flex;align-items:center;justify-content:center;background:#f6f7ff;position:absolute;top:0;left:0;right:0;bottom:0;z-index:-1;}
/* 页面内容区域的容器样式*/
.Ayou_content {max-width:1080px;width:100%;height:607px;border-radius:16px;overflow:hidden;box-shadow:0 12px 15px rgba(224,225,225,0.41);display:flex;background:#fff;}
/* 左边的图片区域样式*/
.Ayou_left {background:url('https://api.qianqi.net/pic/bing/') center center / cover no-repeat;width:50%;position:relative;}
/* 在.Ayou_left内添加伪元素，用于创建渐变效果*/
.Ayou_left::before {content:'';position:absolute;top:0;right:0;bottom:0;width:36px;background:linear-gradient(to left,rgba(255,255,255,1),rgba(255,255,255,0));pointer-events:none;z-index:1;}
/* 右边的内容区域样式*/
.Ayou_right {width:50%;padding:80px;display:flex;flex-direction:column;}
/* Logo图片*/
.Ayou_avatar {text-align:center;}
.Ayou_avatar img {border-radius:50%;width:100px;height:100px;border:3px solid rgba(126,126,126,0.32);opacity:1;transform:rotate(0deg);-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-ms-transform:rotate(0deg);transition:all ease 1s;-webkit-transition:all ease 1s;-moz-transition:all ease 1s;-o-transition:all ease 1s}
.Ayou_avatar img:hover{transform:rotate(360deg);-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg)}
/* 标题*/
.Ayou_right .Ayou_title {font-size:22px;font-weight:600;margin:15px 0;color:#404040;text-align:center;}
/* 描述文字*/
.Ayou_right .Ayou_des {font-size:14px;margin-bottom:20px;color:#5f6383;text-align:center;}
/* 小图标*/
.Ayou_nav_a {display:flex;justify-content:center;margin-top:0px;}
.Ayou_nav_a .item {width:32px;height:32px;margin:8px 12px;border-radius:50%;border:1px solid #7e7e7e;display:flex;justify-content:center;align-items:center;position:relative;}
.Ayou_nav_a .item a {display:block;width:90%;height:90%;text-decoration:none;color:#000;}
.Ayou_nav_a .item a img,.Ayou_nav_a .item a iconpark-icon {width:90%;height:90%;}
.Ayou_nav_a .item .tooltip {position:absolute;width:80px;background-color:rgba(255,255,255,0.8);border:1px solid #000;bottom:40px;padding:4px;border-radius:5px;color:#333;letter-spacing:2px;text-align:center;opacity:0;transform:translateY(-40px);transition:all 0.1s ease-in-out;z-index:10;}
.Ayou_nav_a .item .tooltip img {width:100%;height:100%;position:relative;z-index:10;}
.Ayou_nav_a .item .tooltip::after {content:'';display:block;width:8px;height:8px;border-radius:2px;background-color:rgba(255,255,255,0.8);border:1px solid #000;position:absolute;bottom:-4px;left:35px;transform:rotate(45deg);z-index:9;}
.Ayou_nav_a .item:hover .tooltip {transform:translateY(0);opacity:1;}
/* 导航栏*/
.Ayou_nav_b {margin-top:20px;display:flex;justify-content:center;}
.Ayou_nav_b a {padding:8px 14px;margin-right:8px;font-size:15px;border-radius:8px;text-decoration:none;color:#000;border:1px solid #7e7e7e;display:flex;justify-content:center;align-items:center;width:22%;}
.Ayou_nav_b a:hover {color:#fff;background-color:rgba(126,126,126,0.32);transition:all 0.2s;}
/* 隐藏子页面*/
.Ayou_hidden {display:none;}
/* 按钮样式*/
.Ayou_btn {background:black;color:white;border:1px solid #000;border-radius:8px;font-size:15px;cursor:pointer;position:relative;overflow:hidden;z-index:1;}
.Ayou_btn:hover {color:black;}
.Ayou_btn:after {content:"";background:white;position:absolute;z-index:-1;left:-20%;right:-20%;top:0;bottom:0;transform:skewX(-45deg) scale(0,1);transition:all 0.5s;}
.Ayou_btn:hover:after {transform:skewX(-45deg) scale(1,1);-webkit-transition:all 0.5s;transition:all 0.5s;}
/* 子页面内容*/
.Ayou_content_c {display:flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;}
.Ayou_content_c h2 {font-size:18px;color:#404040;margin-bottom:0;line-height:30px;}
.Ayou_content_c p {font-size:15px;line-height:30px;color:#5f6383;margin:0;}
.Ayou_content_c img {border-radius:6%;border:5px solid rgba(126,126,126,0.32);}
.Ayou_content_c .haoka {margin-top:20px;width:400px;height:auto;}
.Ayou_content_c .weixin {margin-top:20px;width:200px;height:auto;}
.Ayou_content_c .Ayou_content_zuopin {margin-top:20px;display:flex;justify-content:center;}
.Ayou_content_c .Ayou_content_zuopin a {padding:8px 14px;margin-right:8px;font-size:15px;border-radius:8px;text-decoration:none;color:#000;border:1px solid #7e7e7e;display:flex;justify-content:center;align-items:center;}
.Ayou_content_c .Ayou_content_zuopin a:hover {color:#fff;background-color:rgba(126,126,126,0.32);transition:all 0.2s;}
/* 底部区域*/
.Ayou_footer {text-align:center;padding:0 30px;margin-top:auto;}
.Ayou_footer .copyright {color:#5f6383;font-size:12px;margin-top:8px;overflow:hidden;text-decoration:none;text-overflow:ellipsis;white-space:nowrap;}
.Ayou_footer .model {color:#5f6383;font-size:12px;display:flex;justify-content:center;align-items:center;}
/* 开关按钮样式*/
.switch_default[type="checkbox"] {display:none;}
.switch_default + label {background-color:#292a2d;border-radius:7px;cursor:pointer;display:inline-block;height:14px;position:relative;box-shadow:0.2px 0.2px 1px 0.5px rgb(180,180,180);width:30px;transition:all 0.3s ease-in-out;}
.switch_default + label:after {background-color:#fff;border-radius:50%;content:"";height:12px;left:1px;position:absolute;top:1px;width:12px;box-shadow:0.2px 0.2px 1px 0.5px rgb(180,180,180);transition:all 0.3s ease-in-out;}
.switch_default:checked + label {background-color:#28df99;box-shadow:none;}
.switch_default:checked + label:after {left:17px;}
/* 深色主题样式*/
body.dark-theme .Ayou_page {background:#0a0c19;transition:color 0.2s ease,border-color 0.2s ease,background 0.2s ease,opacity 0.2s ease;}
body.dark-theme .Ayou_content {background:#000;box-shadow:0 4px 9px rgba(2,5,23,1);}
body.dark-theme .Ayou_left {background:#161829 url('https://api.qianqi.net/pic/bing/') center center / cover no-repeat;opacity:0.7;}
body.dark-theme .Ayou_left::before {background:linear-gradient(to left,rgb(32 35 59),rgb(69 71 84 / 0%));}
body.dark-theme .Ayou_right {background:#161829;}
body.dark-theme .Ayou_right .Ayou_title {color:#fff;}
body.dark-theme .Ayou_right .Ayou_des {color:#b5b8d3;}
body.dark-theme .Ayou_nav_a .item {background-color:rgba(255,255,255,0.9);border:1px solid #fff;color:#fff;}
body.dark-theme .Ayou_nav_b a,body.dark-theme .Ayou_content_c .Ayou_content_zuopin a{background-color:rgba(255,255,255,0.9);border:1px solid #fff;}
body.dark-theme .Ayou_nav_b a:hover,body.dark-theme .Ayou_content_c .Ayou_content_zuopin a:hover{color:#fff;background-color:#7e7e7e52;transition:all 0.2s;}
body.dark-theme .Ayou_btn {background-color:rgba(255,255,255,0.9);border:1px solid #fff;color:#000;}
body.dark-theme .Ayou_btn:hover {color:#fff;}
body.dark-theme .Ayou_btn:after {background:black;}
body.dark-theme .Ayou_content_c h2 {color:#fff;}
body.dark-theme .Ayou_content_c p {color:#b5b8d3;}
body.dark-theme .Ayou_content_c .haoka {opacity:0.7;}
body.dark-theme .Ayou_content_c img {opacity:0.7;}
body.dark-theme .Ayou_right .copyright {color:#b5b8d3;}
body.dark-theme .Ayou_right .icp {color:#b5b8d3;}
body.dark-theme .Ayou_right .model {color:#b5b8d3;}
/* 移动端响应式样式*/
@media only screen and (max-width:960px) {.Ayou_nav_b a,.Ayou_content_c .Ayou_content_zuopin a {flex-direction:column;}
}
@media only screen and (max-width:540px) {.Ayou_right {width:95%;position:absolute;margin:10% 0;top:0;bottom:0;background:rgba(243,245,255,0.68);border-radius:18px;backdrop-filter:blur(0.5rem);padding:30px 30px 50px;border:1px solid #fff;}
.Ayou_left {min-height:100vh;width:100%;background-size:cover;}
.Ayou_left::before {display:none;}
.Ayou_content {display:flex;flex-direction:column;margin:0;height:max-content;border-radius:0;position:relative;align-items:center;max-width:100%;}
.Ayou_nav_b,.Ayou_content_c .Ayou_content_zuopin {display:flex;justify-content:space-evenly;flex-direction:row;flex-wrap:wrap;}
.Ayou_nav_b a,.Ayou_content_c .Ayou_content_zuopin a {display:flex;flex-direction:column;align-items:center;margin:0;padding:8px;border-radius:12px;margin-bottom:8px;margin-right:8px;}
.Ayou_nav_b a i,.Ayou_nav_b a iconpark-icon {margin:0;}
.Ayou_content_c .haoka {width:300px;height:auto;}
/* 隐藏子页面*/
.Ayou_hidden {display:none;}
.Ayou_right .Ayou_footer {position:relative;bottom:auto;padding:0;}
body.dark-theme .Ayou_left::before {display:none;}
body.dark-theme .Ayou_right {background:rgba(81,83,94,0.36);}
body.dark-theme .Ayou_right .Ayou_des {color:#ececec;}
body.dark-theme .Ayou_nav_a .item {background-color:rgba(255,255,255,0.52);border:1px solid #fff;color:#fff;}
body.dark-theme .Ayou_nav_b a,body.dark-theme .Ayou_content_c .Ayou_content_zuopin a {background-color:rgba(255,255,255,0.52);}
body.dark-theme .Ayou_nav_b a:hover,body.dark-theme .Ayou_content_c .Ayou_content_zuopin a:hover {color:#000;background-color:#7e7e7e52;transition:all 0.2s;}
body.dark-theme .Ayou_content_c p {color:#ececec;}
body.dark-theme .Ayou_right .copyright {color:#ececec;}
body.dark-theme .Ayou_right .icp {color:#ececec;}
body.dark-theme .Ayou_right .model {color:#ececec;}
}